* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}
body {
  overflow-x: hidden;
}
.container {
  display: flex;
}
.left-side {
  min-width: 500px;
  display: flex;
  min-height: 100vh;
  position: relative;
}
.left-side-footer {
  position: absolute;
  color: white;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
a {
  color: white;
}
.img-container {
  background-image: url('/signup-form/images/background-img.jpg');
  background-position: left;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
.text-container {
  top: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  padding: 20px 0;
}
.text-container img {
  object-fit: contain;
  width: 20%;
  height: 100%;
}
h1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 75px;
  font-weight: 400;
  color: rgb(240, 233, 233);
}
.right-side {
  flex-grow: 1;
  background-color: #12a0e72b;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.right-side > div {
  padding: 20px;
}


.header p {
  font-size: 25px;
  font-weight: 500;
}

.form-container {
  background-color: white;
  box-shadow: 0px 6px 16px 0px rgba(69,69,69,0.56);
  background-color: #ffffffbd;
  width: 100%;
}

.form-container h2 {
  font-weight: 500;
  font-size: 22px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.form-row {
  padding: 5px;
  flex-grow: 1;
}
.form-row label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.form-row input {
  margin-top: 3px;
  height: 25px;
  width: 150px;
  border: solid 1px gray;
  border-radius: 3px;
  padding-left: 7px;
  font-size: 14px;
  outline: none;
}

input:focus {
  border: solid 1.5px blue;
  box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.65);
}

.footer {
  display: flex;
  flex-direction: column;
}

.submit-btn > button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

.footer-text {
  margin-top: 15px;
}

.footer-text p {
  font-size: 17px;
}

.footer-text a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}