* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial;
}

.container {
  display: flex;
}

.left-side {
  width: 40%;
  display: flex;
  height: 100vh;
  position: relative;
}

.img-container {
  background-image: url('/signup-form/images/background-img.jpg');
  background-position: left;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}

.text-container {
  top: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.562);
  padding: 10px;
}

.text-container img {
  object-fit: contain;
  width: 20%;
  height: 100%;
}

h1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 200px;
  height: 100%;
  font-size: 75px;
  font-weight: 400;
  color: rgb(240, 233, 233);
}

.right-side {
  background-color: #12a0e724;
  display: flex;
  flex-direction: column;
  width: 60%;
  position: relative;
}

.header {
  margin-top: 30px;
  padding: 40px;
  margin-top: 40px;
}

.header p {
  font-size: 25px;
  font-weight: 500;
}

.form-container {
  background-color: white;
  top: 35%;
  width: 100%;
  position: absolute;
  box-shadow: 0px 6px 16px 0px rgba(69,69,69,0.56);
  background-color: #ffffffbd;
}

.form-heading {
  padding: 15px 0 0 45px;

}

.form-container h2 {
  font-weight: 500;
  font-size: 22px;
}

.form {
  padding: 13px 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}

.form-row {
  padding: 5px;
  width: 50%;
  box-sizing: border-box;
}
.form-row label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.form-row input {
  margin-top: 3px;
  height: 25px;
  width: 200px;
  border: solid 1px gray;
  border-radius: 3px;
  padding-left: 7px;
  font-size: 14px;
}